body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
}

nav img {
    width: 300px;
    height: 205px;
}

button {
    background-color: #fff;
    border: none;
}